.divFormulario{
    width: 400px;
    height: 600px ;
    border-radius: 25px;
    background-color: rgb(29, 21, 21);
    border: solid 6px white;
   


}
h2{
    background-color: transparent;
    margin-top: 20px;
    color: white;
    font-size: 40px;
    

}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 30px;

}

input{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    border: none;
    background-color:rgb(22, 22, 129);
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 23px;
    border: solid 3px white;

}
input::placeholder{
    color: white;
    text-align: center;

}
select{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border: none;
    background-color:rgb(22, 22, 129);
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 25px;
    border: solid 3px white;
    cursor: pointer;
}
option{
    background-color:rgb(22, 22, 129);
    font-size: 25px;
    color: white;
    border: solid 3px white;
    cursor: pointer;


}
button{
    margin-top: 200px;
    height: 50px;
    width: 150px;
    border: none;
    background-color: rgb(22, 22, 129);
    font-size: 25px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
    border: solid 3px white;

}
button:hover{
    background-color: white;
    color: rgb(22, 22, 129);
    border: solid 5px rgb(22, 22, 129);
} 

@media screen and (max-width: 600px) {

    .divFormulario{
        width: 350px;
        height: 450px ;
        border-radius: 25px;
        background-color: rgb(29, 21, 21);
        border: solid 6px white;
        margin-top: 20px;
    }
    h2{
        background-color: transparent;
        margin-top: 10px;
        color: white;
        font-size: 30px;
        margin-bottom: 0;
    }
    
    form{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        height: 350px;
        margin-top: 0;
    }
    .recebe{
        width: 250px;
    }
    .recebeSelect{
        width: 150px;
    }
    input{
        margin-top: 20px;
        height: 40px;
        background-color:rgb(22, 22, 129);
        border-radius: 25px;
        text-align: center;
        color: white;
        font-size: 23px;
        border: solid 3px white;
    
    }
    input::placeholder{
        color: white;
        text-align: center;
    
    }
    select{
        margin-top: 30px;
        width: 150px;
        height: 40px;
        border: none;
        background-color:rgb(22, 22, 129);
        border-radius: 25px;
        text-align: center;
        color: white;
        font-size: 25px;
        border: solid 3px white;
        cursor: pointer;
    }
    option{
        background-color:rgb(22, 22, 129);
        font-size: 25px;
        color: white;
        border: solid 3px white;
        cursor: pointer;
    
    
    }
    .seta{
        width: 200px;
      
    }
 
    button{
       
        height: 50px;
        border: none;
        background-color: rgb(22, 22, 129);
        font-size: 25px;
        color: white;
        border-radius: 25px;
        cursor: pointer;
        transition: .2s;
        border: solid 3px white;
        margin-top: 30px;
    
    }
    button:hover{
        background-color: white;
        color: rgb(22, 22, 129);
        border: solid 5px rgb(22, 22, 129);
    } 
}